<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      STUDENTS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <form [formGroup]="studentForm" (ngSubmit)="create()">
    <ion-item>
      <ion-label position="floating">name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">age</ion-label>
      <ion-input formControlName="age"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">address</ion-label>
      <ion-input formControlName="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="create()" [disabled]="studentForm.invalid">
        ADD<ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item>
  </form>

  <ion-card *ngFor="let item of studentList" color="primary">
    <span *ngIf="!item.isEdit; else elseBlock">

      <ion-card-header>
        <ion-card-title>{{item.name}} of {{item.age}} years</ion-card-title>
        <ion-card-subtitle>From: {{item.address}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button shape="round" color="secondary" size="small" (click)="edit(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="remove(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-card-content>

    </span>
    <ng-template #elseBlock>

      <ion-card-header>
        <ion-card-title>
          Edit
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label><strong>Name</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.editName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Age</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.editAge"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Address</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.editAddress"></ion-input>
        </ion-item>
      </ion-card-content>

      <ion-footer>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button fill="solid" color="medium" size="small" (click)="item.isEdit = false">
                CANCEL
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button fill="solid" color="success" size="small" (click)="update(item)">
                UPDATE
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>

    </ng-template>
  </ion-card>

</ion-content>
